@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.App {
  text-align: center;
}

* {
  font-family: "Lobster", cursive;
  font-weight: lighter;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #606c38;
  color: #fefae0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  background-color: #bc6c25;
  color: #fefae0;
  margin: 10px;
  border-radius: 10px;
}

input {
  margin: 10px;
  border-radius: 10px;
}

h1 {
  background-color: #dda15e;
  border-radius: 10px;
  margin-left: 100px;
  margin-right: 100px;
}
