@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  background-color: #283618;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-family: "Lobster", cursive;
}

/* Style the links inside the navigation bar */
.navbar a {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  color: #fefae0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  font-family: "Lobster", cursive;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #dda15e;
  color: black;
}

/* Add a color to the active/current link */
/* .navbar a.active {
  background-color: #4caf50;
  color: white;
} */
